Augmentor~=0.2.8
albumentations~=0.5.2
opencv-python~=4.5.1.48
imgaug~=0.4.0
imagecorruptions
torch~=1.8.1
torchvision~=0.9.1
pandas~=1.2.4
numpy~=1.20.2
Pillow~=8.2.0
scikit-image~=0.18.1
tqdm~=4.60.0